body{
    background-color: #442839;
}
.max-height {
    top: 80px;
    position: relative;
}

.main-div{
    
    min-height: 100vh;
    position: relative;
    display: flex;  
}

.form_div{
    margin: auto;
    text-align: center;
    width: 50%;
    background-color: #371F2F;
    border-radius: 20px;
   
}



h3{
    text-transform: uppercase;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    width:65%;
    border: none;

}


/* input:focus{
    color: white;
    background: linear-gradient(-60deg,rgb(184, 74, 0),rgb(54, 30, 2));
    transition-duration: .5s;
} */



.button{
    width: 120px;
    color:white;
    padding: 10px;
    font-weight: 500;
}

.button:hover{
    background: #442839;
    color: black;
    transition-duration: .3s;
    cursor: pointer;
   
}
form .submit
{
    border-color: transparent;
    color:#fff;
}
.fn
{
    margin:20px 0;
    background:transparent;
    border-bottom:2px solid white;
    padding:10px; 
    color: #fff; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }